body {
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 50px 20px;
  margin: 0 auto;
}

.main__btn {
  padding: 10px 15px;
  border-radius: 5px;
  background: #4b4b4b;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #4b4b4b;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main__btn:hover {
  background: #fff;
  color: #4b4b4b;
}

.modal__window {
  display: none;
  background: #fff;
  max-width: 800px;
  width: 100%;
  min-height: 545px;
  height: auto;
  border-radius: 5px;
  cursor: unset !important;
}

.modal__window ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__window button {
  padding: 0;
  border: 0;
  background: transparent;
}

.modal__window a {
  text-decoration: none;
}

.modal__window p {
  margin: 0;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 40px;
}

.modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.modal__head-title {
  font-weight: 600;
}

.modal__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
}

.modal__tab {
  padding: 10px 15px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #FFD700;
  color: #000;
  cursor: pointer;
}

.modal__tab.tab-active {
  background: #FFD700;
  border-color: #FFD700;
  color: #fff;
}

.modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 30px;
}

.modal__body>div {
  width: 50%;
}

.modal__body>div:last-child {
  width: calc(50% - 30px);
}

.modal__letters {
  padding-right: 80px;
  border-right: 1px solid #e8e8e8;
}

.modal__letters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.modal__letters-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(25% - 15px);
  padding: 10px;
}

.modal__letters-item {
  display: block;
  font-size: 19px;
  font-weight: bold;
  color: initial;
  text-align: left;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.modal__letters-item:hover {
  color: #f50400;
}

.modal__letters-item.letters-active {
  color: #f50400;
}

.letters__cities {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 10px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.2;
  color: initial;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.letters__cities:hover,
.letters__cities.cities-active {
  color: #f50400;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

.address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 15px;
}

.address__item:not(:first-child) .address__item-city {
  display: none;
}

.address__item-city {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.address__item-subtitle {
  font-size: 16px;
  font-weight: 700;
}

.address__item-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.address__item-address span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  line-height: 1.2;
}

.address__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #f50400;
  background: transparent;
  color: #f50400;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
}

.address__item-btn:hover {
  background: #f50400;
  color: #fff;
}

.address__item-link {
  font-size: 16px;
  font-weight: 700;
  color: initial;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  width: calc(50% - 5px);
  margin-left: 25px;
}

.address__item-link:hover {
  color: #f50400;
}

.icon__pin {
  min-width: 15px;
  color: #f50400;
}

@media (max-width:768px) {
  .modal__head {
    gap: 20px;
  }

  .modal__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .modal__body>div,
  .modal__body>div:last-child {
    width: 100%;
  }

  .modal__letters {
    padding: 0 80px 30px 0;
    border-right: unset;
    border-bottom: 1px solid #e8e8e8;
  }
}

@media (max-width:480px) {
  .modal__head {
    gap: 10px;
  }

  .modal__tabs {
    gap: 5px;
  }

  .modal__tab {
    padding: 10px 5px;
  }
}